span.tag {
    background: #e9e9e9;
    font-size: small;
    padding: 0 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

/* utility class for setting left margin */
span.ml-1\/2 {
    margin-left: 0.5rem;
}

/*Get rid of navigation bar (part of default theme)*/
.site-nav{
    display:none
}

/* For sample schedules in which_class.md*/
span.math{
    color:blue !important;
}

span.concentration{
    color:green !important;
}

span.inside-concentration{
    color:red !important;
}

<!--nav ul {
    list-style-type: none;
    display: inline;
}
nav li {
    line-height: 30px;
}
nav a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
}
nav li.active a {
    color: #ffffff;
}-->

nav {
    min-height: 70px !important;
    padding-top: 10px;
}
nav.navbar-brand {
    padding-right: 28px;
    width: 280px;
    border-right: 3px solid rgba(255, 255, 255, 0.1);
    font-family: "hobo-std", sans-serif;
    font-style: italic;
    font-size: 26px !important;
    color: #5fcf80 !important;
}
nav.navbar-brand .site-logo {
    float: left;
    margin-top: -10px;
    margin-right: 1rem;
    width: 250px;
}
.navbar {
    float: right !important;
    margin-right: -15px;
    font-family: 'Helvetica Rounded', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5) !important;
}
@media (max-width: 768px) {
    .navbar {
        float: none !important;
        margin-right: 0;
    }
}
.navbar.navbar-nav li a {
    color: #b2bbbd !important;
}
.navbar.navbar-nav li a:hover {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
}
.navbar.navbar-nav .active a {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
}
.navbar.navbar-nav .dropdown-menu li a {
    color: #515151 !important;
    text-shadow: none !important;
}
