span.tag {
    background: #e9e9e9;
    font-size: small;
    padding: 0 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

/* utility class for setting left margin */
span.ml-1\/2 {
    margin-left: 0.5rem;
}

/*Get rid of navigation bar (part of default theme)*/
.site-nav{
  display:none
}


/* For sample schedules in which_class.md*/
span.math{
    color:blue !important;
}

span.concentration{
    color:green !important;
}

span.inside-concentration{
    color:red !important;
}
