span.tag {
    background: #e9e9e9;
    font-size: small;
    padding: 0 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

/* utility class for setting left margin */
span.ml-1\/2 {
    margin-left: 0.5rem;
}

/* For sample schedules in which_class.md*/
span.math{
    color:blue !important;
}
span.concentration{
    color:green !important;
}
span.inside-concentration{
    color:red !important;
}

/* Get rid of default navigation bar */
.site-nav{
    display:none
}
/* navigation bar */
.navbar {
    background-color: #fdfdfd;
}
.navbar ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
}
.navbar li {
    line-height: 30px;
    float: left;
}
.navbar a {
    display: block;
    padding: 8px;
    color: #111111;
    text-decoration: none;
}
.navbar li.active {
    color: #111111;
}
.navbar li.active a {
    color: #fdfdfd;
}
.navbar a:hover {
    background-color: #f1f1f1
}

.navbar-container {
    display: flex;
    align-items: center;
}
.navbar-contents {
    position: absolute;
    right: 0;
    z-index: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
}
.dropdown:hover .dropdown-content {
    position: absolute;
    display: block;
    z-index: 1;
    margin-left: 0px;
    background-color: #fdfdfd;
}
.dropdown:hover .dropdown-content li {
    width: 100%
}

@media screen and (max-width: 600px) {
    .navbar-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .navbar-contents {
        position: relative;
    }
    .navbar a {
        width: 100%;
    }
}
