<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
    <!--{% for entry in site.data.navigation %}
    {% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
        {% if fullurl == page.url %}
            {% assign current_page = fullurl %}
            {% break %}
        {% elsif page.url contains fullurl %}
            {% assign current_page = fullurl %}
        {% endif %}
    {% endfor %}

    <nav>
        <ul>
        {% for entry in site.data.navigation %}
            {% if entry.url == current_page %}
                {% assign current = ' class="current"' %}
            {% else %}
                {% assign current = null %}
            {% endif %}
            {% if entry.sublinks %}
            <li{{ current }}>
                <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                <ul>
                    {% for sublink in entry.sublinks %}
                    <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li{{ current }}><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>-->

    <!--dropdown nav bar
    <nav id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% assign links = site.data.navigation %}
            {% for link in links %}
                {% assign class = nil %}
                {% if page.url contains link.url %}
                    {% assign class = 'active' %}
                {% endif %}
                {% if link.sublinks %}
                    <li class="dropdown {{ class }}">
                        <a href="{{ site.baseurl }}{{ site.url }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for sublink in link.sublinks %}
                                    <li>
                                        <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                    </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="{{ class }}">
                        <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>-->
    
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Classes
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="../classes/physclasses.html">PHYS</a></li>
              <li><a href="../classes/aepclasses.html">AEP</a></li>
              <li><a href="../classes/astroclasses.html">ASTRO</a></li>
              <li><a href="../classes/csclasses.html">CS</a></li>
              <li><a href="../classes/mathclasses.html">MATH</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Experiences
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Graduate School and Career
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Page 1-1</a></li>
              <li><a href="#">Page 1-2</a></li>
              <li><a href="#">Page 1-3</a></li>
            </ul>
          </li>
          <li><a href="#">Resources and FAQ</a></li>
          <li><a href="../contributing_guide.html">Feedback and Contributing Guide</a></li>
        </ul>
      </div>
    </nav>

  </div>
</header>
