<header class="site-header">
  <nav class="navbar">
    <div class="navbar-container">
      <div>
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </div>
      <div class="navbar-contents">
        <ul>
          <li class="dropdown">
            <a class="dropdown-btn" href="/classes.html">Classes</a>
            <ul class="dropdown-content">
              <li><a href="/classes/physclasses.html">PHYS</a></li>
              <li><a href="/classes/aepclasses.html">AEP</a></li>
              <li><a href="/classes/astroclasses.html">ASTRO</a></li>
              <li><a href="/classes/csclasses.html">CS</a></li>
              <li><a href="/classes/mathclasses.html">MATH</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-btn" href="/experiences.html">Experiences</a>
            <ul class="dropdown-content">
              <li><a href="/experiences/research_industry.html">Research and Industry</a></li>
              <li><a href="/experiences/community_involvement.html">Community Involvement</a></li>
              <li><a href="/experiences/other_experiences.html">Other Experiences</a></li>
              <li><a href="/experiences/awards_scholarships.html">Awards and Scholarships</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-btn" href="/grad_career.html">Graduate School and Career</a>
            <ul class="dropdown-content">
              <li><a href="/grad_career/path_to_grad_school.html">The Path to Graduate School</a></li>
              <li><a href="/grad_career/grad_fellowships.html">Graduate Fellowships</a></li>
              <li><a href="/grad_career/career_paths.html">Career Paths</a></li>
            </ul>
          </li>
          <li><a href="/resources_faq.html">Resources and FAQ</a></li>
          <li class="dropdown">
            <a class="dropdown-btn" href="/feedback.html">Feedback and Contributing Guide</a>
            <ul class="dropdown-content">
              <li><a href="/feedback/contributing_guide.html">Contributing Guide</a></li>
              <li><a href="/feedback/contributors.html">Contributors</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
